<form-toolbar [title]="title" 
			  [editing]="editing" 
			  [searchForm]="searchForm" 
			  (onSearchFormSubmitEmitter)="onSearchFormSubmit()" 
			  (listDataEmitter)="listData()"
			  (listDataNoCacheEmitter)="listDataNoCache()"
			  [auditingExclusions]="auditingExclusions"
			  [enabledAuditList]="['admin_master','admin','system_auditor'].includes(logged.category)"
			  (auditListEmitter)="auditList()" 
			  (normalListEmitter)="normalList()"
			  [disabledAddNew]="!(['admin_master'].includes(logged.category))
	                              && !(['admin'].includes(logged.category) 
	                              && permissions.includes('client_write'))"
			  (addObjectEmitter)="addObject()"    
			  [backToOrigin]="true" 
			  (backToOriginEmitter)="backToOrigin()" >
</form-toolbar>

<ng-template [ngIf]="editing" 
             [ngIfElse]="listObjects">
	<section aria-label="cadastro e alteracao de Fatura Energias" 
	         class="dataForm"> 
		<form [formGroup]="dataForm" 
		      (ngSubmit)="onObjectFormSubmit()">   	
			<div>
   				<rich-input-text [formGroup]="dataForm" 
				                 label="Valor (*)" 
				                 titlee="Valor" 
   				                 placeholderr="" 
   				                 maskk="0*,00" 
   				                 preserveSpecialCharacters="true"
   				                 maxchars="11" 
   				                 minValue="0" 
   				                 maxValue="99999999" 
   				                 forNumber="true"
   				                 formControlName="a3_value" 
   				                 widthPerc="39" 
   				                 ngDefaultControl>
   				</rich-input-text>
				<rich-date-picker [formGroup]="dataForm" 
				                  label="Dt. Venc. (*)" 
				                  titlee="Data Vencimento" 
				                  placeholderr=""
				                  formControlName="a4_billingdate" 
				                  widthPerc="29" 
				                  ngDefaultControl>
				</rich-date-picker> 
				<div class="clear"></div>
			</div> 
			<form-action [validationMessages]="validationMessages" 
			             [processValidation]="processValidation" 
			             (cancelDataEmitter)="cancelData()">
			</form-action>
		</form>
	</section>
</ng-template>

<ng-template #listObjects>
	<section aria-label="lista dos Fatura Energias">
		<table class="table" 
		       *ngIf="objects as listOfObject" 
		       mdbTable> 
			<thead class="black white-text">
				<tr>
					<th scope="col" 
					    style="width: auto;" 
					    title="Valor" 
					    aria-label="Valor">
						Valor
					</th>
					<th scope="col" 
					    style="width: 12em;" 
					    title="Data Vencimento" 
					    aria-label="Data Vencimento">
						Dt. Venc.
					</th>
					<th scope="col" 
					    style="width: 9em;" 
					    *ngIf="!auditingExclusions">
					    A&ccedil;&otilde;es
					</th>
					<th scope="col" 
					    style="width: 5em;" 
					    *ngIf="auditingExclusions">
					    A&ccedil;&otilde;es
					</th>
				</tr>
			</thead>
			<tbody>
				<tr mdbTableCol 
				    *ngFor="let billet of objects; trackBy: trackById">
					<td class="number" 
					    [innerHtml]="billet.a3_valueLabel">
					</td>
					<td class="number" 
					    [innerHtml]="billet.a4_billingdateLabel">
					</td>
					<td class="actions">
						<div class="buttons">
							<edit-delete-action [auditingExclusions]="auditingExclusions" 
							                    [object]="billet" 
							                    [logged]="logged"
							                    [noAction]="!(['admin_master'].includes(logged.category))
								                              && !(['admin'].includes(logged.category) 
								                              && permissions.includes('client_write'))" 
							                    [lockUnLock]="true"
							                    (lockEmitter)="lock($event)" 
							                    (unlockEmitter)="unlock($event)"
							                    (editObjectEmitter)="editObject($event)"
							                    [objectDetail]="objectDetail" 
							                    (showObjectEmitter)="showObject($event)"
							                    [objectDeleteConfirmation]="objectDeleteConfirmation" 
							                    (deleteObjectEmitter)="deleteObject($event)"
							                    [objectUnDeleteConfirmation]="objectUnDeleteConfirmation" 
							                    (unDeleteObjectEmitter)="unDeleteObject($event)">
							</edit-delete-action>
						</div>
					</td>
				</tr>
				<tr *ngIf="emptyArray(objects)"
				    class="summary">
					<td colspan="3" 
					    class="text navigationBottom">
						<span>
							<em>Nenhuma Fatura Cadastrada/Encontrada</em>
						</span>
					</td>
				</tr>
				<tr>
					<td colspan="3" 
					    class="navigationBottom">
						<table-navigator [pages]="pages" 
						                 [selectedPage]="selectedPage" 
						                 [previousPageDisabled]="previousPageDisabled" 
						                 [nextPageDisabled]="nextPageDisabled" 
						                 [rowsPerPage]="rowsPerPage" 
						                 [totalPages]="totalPages" 
						                 [totalRows]="totalRows"
						                 (previousPageEmitter)="previousPage()" 
						                 (setPageEmitter)="setPage($event)"
						                 (nextPageEmitter)="nextPage()">
						</table-navigator>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</ng-template>

<ng-template #selectedObjectTemplate>
	<tr>
		<th scope="row" 
		    class="text"
		    title="Valor"
		    aria-label="Valor"
		    style="width: 7em;">
			Valor:
		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a3_valueLabel">
		</td>
	</tr>
	<tr>
		<th scope="row" 
		    class="text"
		    title="Data Vencimento"
		    aria-label="Data Vencimento">
			Vencimento:
		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.a4_billingdateLabel">
		</td>
	</tr>
	<tr>
		<th scope="row" 
		    class="text"
		    title="Ativa"
		    aria-label="Ativa">
			Ativa:
		</th>
		<td class="text noBorderRight" 
		    [innerHtml]="selectedObject.activeLabel">
		</td>
	</tr>
</ng-template>

<ng-template #objectDetail 
             let-modal>
	<delete-confirmation label="da Fatura Energia" 
	                     [selectedObject]="selectedObject" 
	                     info="true" 
	                     [templateOutlet]="selectedObjectTemplate" 
	                     (cancelDataEmitter)="showObject()">
	</delete-confirmation>
</ng-template>

<ng-template #objectDeleteConfirmation 
             let-modal>
	<delete-confirmation label="Fatura Energia" 
	                     [selectedObject]="selectedObject" 
	                     [auditingExclusions]="auditingExclusions" 
	                     [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>

<ng-template #objectUnDeleteConfirmation 
             let-modal>
	<delete-confirmation label="Fatura Energia" 
	                     [selectedObject]="selectedObject" 
	                     redo="true" 
	                     [auditingExclusions]="auditingExclusions" 
	                     [templateOutlet]="selectedObjectTemplate"
	                     (confirmDeleteObjectEmitter)="confirmUnDeleteObject($event)" 
	                     (cancelDataEmitter)="cancelData()">
	</delete-confirmation>
</ng-template>