<div class="clear" style="margin-bottom: .3em;" 
     *ngIf="breakBefore && !breakBeforeDouble && !noRender">
</div>
<div class="clear" style="margin-bottom: .7em;" 
     *ngIf="breakBeforeDouble && !noRender">
</div>
<div class="field" [ngStyle]="{'width': widthPerc + '%'}" *ngIf="!noRender">
	<div class="field" style="width: 33%;" *ngIf="!onlySelect">
		<label for="{{id}}Contain" title="{{titlee}} contém" [attr.aria-label]="titlee + ' contém'">
	    	{{ label }} contém
	    </label>
	    <i class="far fa-question-circle inputActionIcon" 
	       placement="top" ngbTooltip="Clique para informações"
	       (click)="infoContain()" tabIndex="0">
	    </i>
	    <i class="fas fa-filter inputActionIcon"
	       placement="top" ngbTooltip="Clique para efetuar a filtragem" 
	       (click)="filterObjects()" tabIndex="0">
	    </i>
	    <br/>
	    <input id="{{id}}Contain" style="width: 100%; height: calc(1.5em + 0.65rem + 2px);"
	           class="form-control {{className}}" [placeholder]="placeholderr" />
	</div>
	<div class="field" [ngStyle]="{'width': (onlySelect ? 100 : 65) + '%'}">
		<label for="{{id}}Select" title="{{titlee}}" [attr.aria-label]="titlee">
	    	{{ label }}
	    </label>
	    <i class="far fa-question-circle inputActionIcon" 
		   *ngIf="null != helpMessage"
       	   placement="top" 
       	   ngbTooltip="Clique para informações" 
       	   aria-label="Clique para informações"
       	   (click)="help()"
       	   tabIndex="0">
       	</i>
	    <br/>
	    <select id="{{id}}Select" 
	            style="height: calc(1.5em + 0.65rem + 2px);" 
	            class="form-control {{className}}" 
	            (change)="valueChanged()">
	    	<option value="-1" [selected]="emptyObject(selectedObject)" 
	    	        *ngIf="!emptyObject(minusOneLabel)">
	        	{{ minusOneLabel }}
	        </option>
	        <option value="0" [selected]="emptyObject(selectedObject)" 
	                *ngIf="!emptyObject(zeroLabel)">
	        	{{ zeroLabel }}
	        </option>
	        <option value="" [selected]="emptyObject(selectedObject)" 
	                *ngIf="!emptyObject(emptyLabel)">
	        	{{ emptyLabel }}
	        </option>
	        <option *ngFor="let object of objects" 
	        	    value="{{!emptyObject(object.id) ? object.id : object.value}}"
	        	    [selected]="!emptyObject(selectedObject) 
	        	                && ((!emptyObject(object.id) && selectedObject.id == object.id) 
	        	                    || (!emptyObject(object.value) && selectedObject.value == object.value))">
	        	{{ !emptyObject(object.name) ? object.name : '' }}
	        	{{ emptyObject(object.name) && !emptyObject(object.label) ? object.label : '' }}
	        	{{ emptyObject(object.name) && emptyObject(object.label) 
	        	   && !emptyObject(object.identifier) ? object.identifier : '' }}
	        </option>
		</select>
	</div>
	<div class="clear" style="margin-bottom: .5em;"></div>
	<div class="field" style="width: 100%;" *ngIf="emptyObject(oldSelectedObject)">
		<div>
			<label for="{{id}}NewImage" title="Imagem Selecionada" aria-label="Imagem Selecionada">
				Imagem Selecionada:
			</label>
		</div>
		<div style="width: 98%; margin: .2em auto; border-radius: .3em; height: 12em; padding: 0;">
			<img id="{{id}}NewImage" src=""
	           	 *ngIf="!emptyObject(selectedObject)" 
	           	 style="margin: 0; border: 0; border-radius: .3em; width: 100%; height: 12em;"/>
	        <span *ngIf="emptyObject(selectedObject)">Nenhuma Imagem Selecionada</span>
		</div>
	</div>
	<div class="field" style="width: 49.5%;" *ngIf="!emptyObject(oldSelectedObject)">
		<div>
			<label for="{{id}}OldImage" title="Imagem Atual" aria-label="Imagem Atual">
				Imagem Atual:
			</label>
		</div>
		<div style="width: 99%; margin: .2em auto; border-radius: .3em; height: 12em; padding: 0;">
			<img id="{{id}}OldImage" src=""
	           	 style="margin: 0; border: 0; border-radius: .3em; width: 100%; height: 12em;"/>
		</div>
	</div>
	<div class="field" style="width: 49.5%;" *ngIf="!emptyObject(oldSelectedObject)">
		<div>
			<label for="{{id}}NewImage" title="Imagem Selecionada" aria-label="Imagem Selecionada">
				Imagem Selecionada:
			</label>
		</div>
		<div style="width: 99%; margin: .2em auto; border-radius: .3em; height: 12em; padding: 0;">
			<img id="{{id}}NewImage" src=""
	           	 *ngIf="!emptyObject(selectedObject)" 
	           	 style="margin: 0; border: 0; border-radius: .3em; width: 100%; height: 12em;"/>
	        <span *ngIf="emptyObject(selectedObject)">Nenhuma Imagem Selecionada</span>
		</div>
	</div>
	<div class="clear" style="margin-bottom: .5em;"></div>
	<div class="clear"></div>
</div>