*.project
**/.settings/*
*.pem
*.ppk
server_deploy.sh
*.txt
**/files-info/*
**/static_files/angular/*
**/static_files/react/*
**/ex_app/priv/static/*
**/ex_app/lib/aapp_config/enviroment/enviroment.env.ex
**/ex_app/deps/*
**/ex_app/compiled_*/*
**/ex_app/_build/*
**/ex_app/*.service
**/ex_app/*._init.sh
**/ex_app/*._startup.sh
**/ex_app/*._shutdown.sh
**/ang-app/e2e/*
**/ang-app/node_modules/*
**/react-app/build/*
**/react-app/node_modules/*
