@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins&family=Ubuntu:wght@300&display=swap');
.rsc{
	margin-top: 0.3em;
}
.rsc-content{
    height: 23em;
    overflow-y: scroll;
    margin-top: 0.15em;
    padding-top: 0.4em;
    display: flex;
    flex-direction: column-reverse;
}
.rsc-footer{
	position: relative;
}
.rsc-ts-bot div{
	float: left;
}
.rsc-ts-user div{
	float: right;
}

.chatContainer{
    background: #ffffff;
    border-radius: .8em;
    overflow: hidden;
    margin-bottom: 10px;
    width: 20em;
    height: 27em;
    z-index: 999;
    box-shadow: 1px 0px 5px 0px rgba(255,161,73,0.75);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(255,161,73,0.75);
-moz-box-shadow: 1px 0px 5px 0px rgba(255,161,73,0.75);

}
.chatContainerHeader{
    padding: 10px 20px;
    font-weight: 600;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin: auto;
}

.chatMsgContainer{
    display: block;
    clear: both;
}
.chatMsgContainerOptions, 
.chatMsgContainerOptionsFullWidth{
	display: block;
    clear: both;
    padding: 0 2em;
}
.chatMsgContainerOptionsFullWidth{
	padding: 0;
}
.chatMsgContainer img, .chatMsgContainer svg{
    vertical-align: middle;
}
.chatMsgContainer img{
    border-style: none;
}
.botIconContainer, .userIconContainer{
	display: inline-block;
    padding: 0.5em;
}
.botIcon, .userIcon,
.botMsg, .userMsg{
	animation: 0.3s ease 0s 1 normal forwards running gZmgDU;
}
.botIcon, .userIcon{
    border-radius: 45% 45% 0 45%;
    height: 2.4em;
    width: 2.4em;
    padding: .28em;
}
.userIcon{
    border-radius: 45% 45% 45% 0px;
}
.botMsg, .userMsg{
	display: inline-block;
	font-size: .85rem;
    margin-bottom: .3em;
    overflow: hidden;
    position: relative;
    padding: .4em;
}
.botMsg{
    background: #ffe1c5;
    padding: 10px 15px;
    font-family: Open Sans, sans-serif;
    border-radius: 1.4em 1.4em 1.4em 0;
    color: rgb(34, 34, 34);
    border: 1px solid #ffa149;
}
.userMsg{
    background: rgb(75, 227, 200);
    border-radius: 1.4em 1.4em 0 1.4em;
    color: rgb(0, 0, 34);
}
.chatMsgContainer .botMsg, 
.chatMsgContainer .userMsg{
	max-width: calc(90% - 3em);
}
.chatMsgContainerOptions .botMsg{
	background: #ffa149;
	cursor: pointer;
	border-radius: 1.4em 1.4em 1.4em 1.4em;
	margin-left: .4em;
	max-width: 100%;
}
