.gauge-container {
  width: 8em;
  height: 8em;
  display: block;
  padding: .6em;
  margin: 0 auto;
}
.gauge-container > .gauge .dial {
  stroke: #eee;
  stroke-width: 12;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 12;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value-text {
  /*fill: rgb(47, 227, 255);*/
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}