/* 
<headerX>                   - 1c99b5 
<backgroundX>               - fffaff
<primarybuttonX>            - 1e6e94
<activeborderX>             - eeef75
<activebackgroundX>         - 99dae4
<textcolor1X>               - fff
<textcolor2X>               - 100101
<disabledX>                 - bbd9de
*/

html, body{
    background-color: #fffaff !important;
}
.modal-body{
    background-color: #fff !important;
}
.nav-link{
    font-family: Inter, sans-serif;
    font-size: 13px;
}
.nav-link.active{
    padding: 10px 20px;
    color: white!important;
    border-radius: 5px;
    transition: all 0.4s;
}

.header, .nav-link.active, .card-header, .modal-header, .wizard-tab{
    background-color: #FFA149 !important;
    transition: all 0.5s;
}


.btn-primary {
    background-color: #FBA652
    !important;
    border-color: transparent
    !important;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px 20px ;
    font-family: Inter, sans-serif!important;
    font-size: 13px!important;
    transition: all 0.4s;
    border-radius: 5px;
    max-width: 150px;
    margin: 10px 5px;
}
.btn-primary:hover{
    background-color: #ff8f1f!important;
}
.btn-primary i{
    margin: 0px 10px;
}
@media only screen and (max-width: 1100px) {
	.menuTop .btn.btn-link{
	    color: #fff !important;
	}
	.subHeaderMenuTop{
		border-top: 1px solid #bbd9de !important;
	}
}
