html, body{
    background-color: #fffaff !important;
}
.modal-body{
    background-color: #fff !important;
}
.nav-link{
    font-family: Inter, sans-serif;
    font-size: .9rem;
}
.nav-link.active{
    padding: .8em 1.6em;
    color: white!important;
    border-radius: .4em;
    transition: all 0.4s;
}
.header, .nav-link.active, .card-header, .modal-header, .wizard-tab{
    background-color: #FFA149 !important;
    transition: all 0.5s;
}
.btn-primary {
    background-color: #FBA652 !important;
    border-color: transparent !important;
    width: 100%;
    border: 1px solid transparent;
    padding: .4em .9em;
    font-family: Inter, sans-serif!important;
    font-size: .9rem !important;
    transition: all 0.4s;
    border-radius: .4em;
    max-width: 12em;
    margin: .8em .4em;
    color: #303030;
}
.btn-primary:hover{
    background-color: #ff8f1f !important;
}
.btn-primary i{
    margin: 0 .2em;
}
@media only screen and (max-width: 1100px) {
	.menuTop .btn.btn-link{
	    color: #fff !important;
	}
	.subHeaderMenuTop{
		border-top: 1px solid #bbd9de !important;
	}
}
