@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Ubuntu:wght@300&display=swap');

*{
  box-sizing: border-box;
}

.dataForm{
  width: 90%;
  max-width: 670px;
  height: 100vh;
  margin:  auto;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 10px;
}
.dataForm h1{
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
.dataForm input{
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 14;
  padding: 5px 10px;
  background: #EDEDED  ;
  outline: none;
  border-radius: 5px;
  transition: border 0.4s;
  border: 2px solid transparent!important;
}
.dataForm input:focus{
  border: 2px solid #FBA652!important;
}
label{
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  color: #303030;
  margin-top: 15px!important;
}
.dataForm .tabs{
  display: flex;
  justify-content: space-between;
  background: #FBA652;
  padding: 10px 20px;
  border-radius: 10px;
}
.tabs li{
  list-style: none;
}
